/* color palette from <https://github.com/vuejs/theme> */
:root {
  --red3: #2D142C;
  --color-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--red3);
  font-weight: 300;
}

h1 {
  font-size: 48px !important;
}

h2 {
  font-size: 38px !important;
}

h3 {
  font-size: 28px !important;
}

h4 {
  font-size: 18px !important;
}

h5 {
  font-size: 13px !important;
}

p {
  font-size: 18px !important;
}

